.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Services {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.ServiceItem {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px 20px;
  justify-content: space-evenly;
  border-radius: 20px;
  height: 40vh;
}
