.Hero {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 10px;
    min-height: 40vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.btn {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(74, 192, 74);
    cursor: pointer;
    color:white;
    font-size: 20px;
}
.btn:hover {
    background-color: rgb(18, 75, 18);
    transition: all 0.5s ease-in;
}